body {
  background-color: darkseagreen;
  color: darkcyan;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.anime {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.idk {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.stuf {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.demonslayer {
}

.ds {
  align-items: center;
}
