body {
  background-color: floralwhite;
  color: slateblue;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

p {
  font-family: "Roboto Mono", monospace;
}

#item {
  border-style: solid;
  margin-left: 100px;
  margin-right: 100px;
}

.malopm {
  margin: 0px 200px 0px 200px;
  font-size: 20px;
}

.first {
  height: 400px;
  margin-bottom: 25px;
}

.term {
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
}

#opm {
  margin-top: 10px;
}
