body {
  background-color: floralwhite;
  color: slateblue;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 90px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

p {
  font-family: "Roboto Mono", monospace;
}

#item {
  border-style: solid;
  margin-left: 100px;
  margin-right: 100px;
}

.malopm {
  margin: 0px 200px 0px 200px;
  font-size: 20px;
}

.first {
  width: 600px;
  margin-bottom: 25px;
}

.term {
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
}

#opm {
  margin-top: 10px;
}

.everything {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.one {
  display: flex;
  flex-flow: column;
  border: 2px solid black;
}

.two {
  display: flex;
  flex-flow: column;
  border: 2px solid black;
}

.three {
  display: flex;
  flex-flow: column;
  border: 2px solid black;
}

#context {
  margin: 0px;
  padding: 0px;
}
